# Dependências do Node.js
node_modules/

# Build
dist/
build/

# Logs
*.log

# Arquivos de ambiente
.env

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Arquivos específicos da IDE
.vscode/
.idea/
